        /* UTILITY CLASS  */

._bg_darkblue{
    background-color: #2C3E50;
}

._bg_blue{
    background-color: #3A546D;
}

._bg_green{
    background-color: #1ABC9C;
}

._bg_white{
    background-color: white;
}

._text-darkblue{
    color: #2C3E50;
}

._input-border{
    place-content: ;
    border:0;
    border-bottom: 1px solid #CCCCCC;
}

._pl-5{
    padding-left: 5rem;
}
._pr-5{
    padding-right: 5rem;
}

._py-6{
    padding:6rem 0;
}
._py-4{
    padding:4rem 0;
}
._py-3{
    padding:3rem 0;
}
._px-4{
    padding:0 4rem;
}
._px-5{
    padding:0 5rem;
}
._download{
    font-size: 1.2rem;
    border-radius: 5px;
}
._p-normal{
    font-size:1.32rem;
    }

._icons{
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
}


/* HEADER - JUMBO */

.jumbo-photo{
    width: 50%;
    height: 15rem;
}
.jumbo-photo img{
    width: 100%;
    height: 100%;
}

.star-title h1{
    font-size: 3rem;
    font-weight: bold;
    margin:0;
}
._line-15{
    width: 15vw;
    height: 0.3rem; 
}

._line-10{
    width: 10vw;
    height: 0.3rem; 
}


.star-flex i{
    font-size: 2rem;
}

/* MAIN  */

.section_one .photo{
    height: 100%;
    width: auto;
    padding:15px 0;
    
}

.section_one .photo img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* 3° SECTION  */
.form-control::placeholder{
    color:#2C3E50;
    font-size: 1.3rem;
    
}
.form-control{
    height: auto;
}

/* MEDIA QUERY  */


@Media screen and (min-width:992px){
    ._link_dim-lg-middle{
        font-size: 0.8rem;
    }
    ._pl-lg-5{
        padding-left: 5rem;
    }
    ._pr-lg-5{
        padding-right: 5rem;
    }
   
}

@Media screen and (min-width:768px) and (max-width:991px){
    ._link_dim-md-middle{
        font-size: 1rem;
    }
    ._link_dim-md-normal{
        font-size: 1.5rem;
    }
    ._pl-md-5{
        padding-left: 5rem;
    }
    ._pr-md-5{
        padding-right: 5rem;
    }
   
}


@Media screen and (min-width:200px) and (max-width:767px){
    ._pt-sm-1{
        padding-top: 1rem;
    }
    ._pt-sm-3{
        padding-top: 3rem;
    }
    ._p-sm-normal{
        font-size:1.5rem;
        }

    .form-control::placeholder{
            color:#2C3E50;
            font-size: 1.5rem;
        }
        
}