        /* UTILITY CLASS  */

._bg_darkblue{
    background-color: #2C3E50;
}

._bg_blue{
    background-color: #3A546D;
}

._bg_green{
    background-color: #1ABC9C;
}

._bg_white{
    background-color: white;
}

._text-darkblue{
    color: #2C3E50;
}




._py-6{
    padding:6rem 0;
}
._py-4{
    padding:4rem 0;
}
/* [class*="col-"]{
    height: 100px;
   
} */
/* HEADER - JUMBO */

.jumbo-photo{
    width: 50%;
    height: 15rem;
}
.jumbo-photo img{
    width: 100%;
    height: 100%;
}

.star-title h1{
    font-size: 3rem;
    font-weight: bold;
    margin:0;
}
.star-flex div{
    width: 15vw;
    height: 0.3rem;
   
}
.star-flex i{
    font-size: 2rem;
}

/* MAIN  */

.section_one .photo{
    height: 100%;
    width: auto;
    padding:15px 0;
    
}

.section_one .photo img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
















/* MEDIA QUERY  */


@Media screen and (min-width:992px){
    ._link_dim-lg-middle{
        font-size: 0.8rem;
    }
}


@Media screen and (min-width:768px) and (max-width:991px){
    ._link_dim-md-middle{
        font-size: 1rem;
    }
    ._link_dim-md-normal{
        font-size: 1.5rem;
    }

}
